:root {
    --Mobile: 375px;
    --Desktop: 1440px;

    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
    --White: #FFF;
    --attribution:hsl(228, 45%, 44%);

    --ff-Heading: 'Poppins', sans-serif;
    --ff-Body: 'Open Sans', sans-serif;

    --fw-400: 400;
    --fw-600: 600;

    --fs-header-mobile: 1.5rem;
    --fs-header-desktop: 3rem;
    --fs-content: 1.5rem;

    --btn-padding-mobile: 1rem 2rem;
    --btn-padding-desktop: 1.5rem;
    --btn-width-mobile-min: 50%;
    --btn-width-mobile-max: 23.44rem;
    --btn-width-desktop: calc(90% - 10rem);
    
    --icons-social-dimensions: 1rem;
    --icon-margin: 1rem;  
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    background-color: var(--Violet);
    color: var(--White);
    font-family: var(--ff-Body);
}

/* the outermost div whose only job is to pad the content from the edges of the window */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper, .main-content__materialBox-hookline {
    padding: 3rem 1rem;
}

.main-content {
    flex: 1;
}

.absolute {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    height: auto;
    width: 100%;
}

.company-logo {
    margin-bottom: 3rem;
}

.hero {
    width: calc(100% - 2rem);
    margin-inline: auto;
}

.hero > img {
    width: 100%;
    height: auto;
}

.main-content__materialBox-hookline {
    text-align: center;
}

.header {
    font-family: var(--ff-Heading);
    font-size: var(--fs-header-mobile);
    font-weight: var(--fw-600);
    margin-inline: auto;
}

.content {
    font-size: var(--fs-content);
    padding-bottom: 1.5rem;
    margin-inline: auto;
    margin-top: 2rem;
    width: var(--btn-width-mobile);
}

.btn {
    text-align: center;
    font-size: var(--fs-content);
    font-weight: var(--fw-600);
    padding: var(--btn-padding-mobile);
    border-radius: 3rem;
    background-color: var(--White);
    color: var(--SoftMagenta);
    min-width: var(--btn-width-mobile-min);
    max-width: var(--btn-width-mobile-max);
    margin: 1rem auto 0;
}

.btn:hover {
    color: var(--White);
    background-color: var(--SoftMagenta);
}

.footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.footer__socials {
    display: flex;
    margin-block: 1rem;
}

.socialMediaLogo {
    border: 2px solid var(--White);
    border-radius: 50%;
    padding: 1rem;
    margin-inline: var(--icon-margin);
}

.socialMediaLogo > svg {
    width: var(--icons-social-dimensions);
    height: var(--icons-social-dimensions);
    fill: var(--White); 
}

.socialMediaLogo:hover {
    border-color: var(--SoftMagenta);
    svg {
        fill: var(--SoftMagenta);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    align-self: center;
    color: var(--White);
    margin-top: 1rem;
}

.attribution a {
    color: var(--White);
}

@media(min-width: 600px){

    .header {
        font-size: var(--fs-header-desktop);
        max-width: 40rem;
    }

    .content {
        width: 100%;
        max-width: 80%;
    }

    .hero {
        width: 100%;
    }

}

@media(min-width: 1000px){

    .wrapper {
        padding: 3rem;
        
    }

    .absolute {
        transform: rotateY(0deg);
        width: 100%;
    }

    .box {
        flex: 1;
    }

    .main-content {
        margin: auto;
        max-width: var(--Desktop);
    }

    .main-content__materialBox {
        width: 100%;
        display: flex;
    }

    .main-content__materialBox-hookline {
        text-align: left;
        padding-inline:6rem;
    }

    .content {
        margin-inline: unset;
    }

    .btn {
        padding: var(--btn-padding-desktop);
        max-width: 27rem;
        margin-inline: unset;
    }

    .footer {
        margin-top: 2.5rem;
        align-items: end;
    }
}

